.App{
  height: 100%;
  background-repeat: repeat;
  display: flex;
}

.buttons{
display: flex;
}
.first{
  z-index: 1;
}

.second{
  margin-top: 200px;
  margin-left: 50px;;
  display: flex;
  height: 100%;
}

.third{
  margin-top: 350px;
  margin-left: -700px;
}

.scroll-1{
font-size: 50px; 
margin-left: 36%;
font-weight: 900;
}
.scroll-2{
  color: #42cef5;
  font-size: 50px; 
  margin-left:35%;
  font-weight: 900;
  }
