.top{
    padding-top: 15px;
    font-size: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    height: 10px;
    display: flex;
}
.buttons{
    right: 5px;
    position: absolute;
}

#microprocessors, #microcontrollers, #sensors, #peripherals, #about{
    color: white;
    margin-right: 5px;
    border: black;
    height:65px;
    font-size: 18px;
    background-color:rgba(0, 0, 0, 0.9);
    text-align: center;
    margin-top:-15px;
}

#microprocessors:hover, #microcontrollers:hover, #sensors:hover, #peripherals:hover, #about:hover{
    background-color: grey;
    color: black;
}
.text{
    position: relative;
    margin-left: 10px;
    font-size: 40px;
    margin-top: -2px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    color: black;  
}